@import 'variables.scss';

.btn {
  padding: 8px 16px;
  background: #8d3e8dc4;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #8d3e8d;
  }
}

.test {
  background: #8d3e8d;
  padding: 20px;
}